@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("../fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.container {
  max-width: 425px;
  margin: 0 auto;
}

a{
    color: #f2ff00;
    text-decoration: underline;
    text-decoration: none;
}
.bg-img {
  background: url(../images/Login/Intro-page-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-mainimg {
  background: url(../images/Login/Main_Page_bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 25px;
}

.register-bg {
  background: url(../images/Login/Register\ Page-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
}
.setpass-bg{
    background: url(../images/Login/Forget\ password\ \ -\ Set\ Password-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 60%;
}
.login-bg{
    background: url(../images/Login/Login-page-bg.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 20px;
    padding-top: 25px;
}

.login-bgotp{
    background: url(../images/Login/Login\ With\ OTP-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 20px;
    padding-top: 25px;
}
.login-enterotpbg{
    background: url(../images/Login/Login\ With\ ENTER\ OTP-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    padding-top: 25px;
}
.register-otpbg{
    background: url(../images/Login/Register\ -\ Enter\ OTP-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    padding-top: 50px;
}
.forgot-passbgotp{
    background: url(../images/Login/Forget\ Password-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    padding-top: 25px;
}

.forgotpass-otpbg{
    background: url(../images/Login/Forget\ password\ -Enter\ OTP-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    padding-top: 25px;
}

.createregister-bg{
    background: url(../images/Login/Register\ -\ Create\ Username-page-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0 20px;
    padding-top: 0px;
}

.btn-yellow {
    background: #f2ff00;
    color: #a036e8 !important;
    font-weight: 900;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    /* padding: 15px 35px; */
    /* text-transform: uppercase; */
    box-shadow: 0px 5px 4px 0px #00000080;
    font-style: italic;
    border: none;
    font-family: "inter";
    width: 193px;
    height: 54px;
}
.input-value div input {
  border-radius: 10px;
  background: #fff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;

  font-family: Inter;
  font-size: 14px;

  font-weight: 500;

  text-transform: uppercase;
}

.input-value div input.input{
    height: 42px;
} 
.mb-10{
    margin-bottom: 10px;
}
.w-70{
    width: 70%;
}
.w-65{
    width: 65%;
}
.prl-10{
    padding: 0 10px;
}

.fs-12 {
  font-size: 12px;
}
.br-b{
    border-bottom: 1px solid #ccc;
}
h2.form-head{
    color: #F2FF00;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: inherit;
    margin-bottom: 15px;
    text-align: center;
}
.mb-30{
    margin-bottom: 30px !important;
}
.w-85{
    width:85%;
}
.g-8{
gap: 8px;
}
.input.otp{
    width: 40px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

a.fs-20:before {
    content: "||";
    width: 10px;
    height: 14px;
    padding: 0 8px;
}

a.fs-20:after {
    content: "||";
    width: 10px;
    height: 14px;
    padding: 0 8px;
}

.Forgot-pass{
    color: #00CEFB !important;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;

}
.gray-text{
    color: #B6B6B6;

text-shadow: 0px 1px 2px #000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.btn-register{
    background: #ffffff;
    color: #0c0c0c !important;
    font-weight: 900;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 4px 0px #00000080;
    font-style: italic;
    border: none;
    font-family: "inter";
    width: 193px;
    height: 54px;
    border:1px solid #000;
}